input{
    max-width: 100%;
}

.imagen{
    background-image: url(../../../../../assets/images/background/background-moves/background-2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
}