<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="p-3">
    <div class="text-center">
        <h1>Modificar Cliente</h1>
        <h3>Cliente: <span>{{cliente.nombres}}  {{cliente.apellidos}} </span></h3>
        <h3>Nro. Cedula: <span>{{cliente.cedula}}</span></h3>
    </div>
    <p-divider></p-divider>
    <form [formGroup]="clienteUp">
        <div class="card">
            <div class="flex justify-content-center flex-wrap card-container">
                <div class="flex align-items-center justify-content-center">
                    <div class="card-container m-3">
                        <span class="p-float-label">
                            <input [pKeyFilter]="spaceAlphaNum" formControlName="nombres" pInputText id="username"/>
                            <label htmlFor="username">Nombres</label>
                        </span>
                        <small class="advertencia" *ngIf="clienteUp.controls.nombres.invalid && clienteUp.controls.nombres.touched">
                            * Los nombres son campos obligatorios
                        </small>    
                    </div>
                    
                </div>
                <div class="flex align-items-center justify-content-center">
                    <div class="card-container m-3">
                        <span class="p-float-label">
                            <input [pKeyFilter]="spaceAlphaNum" formControlName="apellidos" pInputText id="username"/>
                            <label htmlFor="username">Apellidos</label>
                        </span>
                        <small class="advertencia" *ngIf="clienteUp.controls.apellidos.invalid && clienteUp.controls.apellidos.touched">
                            * Los apellidos son campos obligatorios
                        </small>    
                    </div>

                </div>
                <div class="flex align-items-center justify-content-center">
                    <div class="card-container m-3">

                        <span class="p-float-label">
                            <p-calendar [maxDate]="maxDate" [minDate]="minDate" formControlName="fechaNacimiento" [dateFormat]="dateFormat" [touchUI]="true" [showButtonBar]="true"></p-calendar>
                            
                            <label htmlFor="username">Fecha de Nacimiento</label>
                        </span>
                        <small class="advertencia" *ngIf="clienteUp.controls.fechaNacimiento.invalid && clienteUp.controls.fechaNacimiento.touched">
                            * La fecha de nacimiento es un campo obligatorio
                        </small>  
                    </div>

                </div>
                <div class="flex align-items-center justify-content-center">
                    <div class="card-container m-3">

                        <span class="p-float-label">
                            <input [pKeyFilter]="alphaNumMChar" formControlName="direccion" pInputText id="username"/>
                            <label htmlFor="username">Direccion</label>
                        </span>
                        <small class="advertencia" *ngIf="clienteUp.controls.direccion.invalid && clienteUp.controls.direccion.touched">
                            * La direccion es un campo obligatorio
                        </small>  
                    </div>

                </div>
                <div class="flex align-items-center justify-content-center">
                    <div class="card-container m-3">

                        <span class="p-float-label">
                            <p-inputMask pKeyFilter="int" mask="999-999-9999" formControlName="numero"></p-inputMask>
                            <label htmlFor="username">Numero Telefonico</label>
                        </span>
                        <small class="advertencia" *ngIf="clienteUp.controls.numero.invalid && clienteUp.controls.numero.touched">
                            * El numero telefonico es un campo obligatorio
                        </small>  
                    </div>
                </div>
                <div class="flex align-items-center justify-content-center">
                    <div class="card-container m-3">

                        <span class="p-float-label">
                            <input [pKeyFilter]="alphaNumChar" formControlName="correo" pInputText id="username"/>
                            <label htmlFor="username">Correo</label>
                        </span>
                        <small class="advertencia" *ngIf="clienteUp.controls.correo.invalid && clienteUp.controls.correo.touched">
                            * La correo electronico es un campo obligatorio
                        </small>  
                    </div>
                </div>
            </div>
                <p-divider></p-divider>
                <div class="card">
                    <div class="flex justify-content-around flex-wrap">

                        <div class="flex align-items-center justify-content-center m-2">
                            <button (click)="verificar()" [disabled]="!clienteUp" icon="pi pi-plus" pButton label="Modificar registro"></button>
                        </div>
                        <div class="flex align-items-center justify-content-center m-2">
                            <button (click)="limpiar()" pButton label="Limpiar campos" icon="pi pi-eraser" class="p-button-success"></button>
                        </div>
                        <div class="flex align-items-center justify-content-center m-2">
                            <button (click)="cancelar()"  pButton label="Cancelar" icon="pi pi-ban" class="p-button-danger"></button>
                        </div>
                    </div>
                </div>
        </div>
    </form>
</div>