<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<mat-card class="m-3">
    <mat-card-header>
      <mat-card-title>Usuarios</mat-card-title>
      <mat-card-subtitle>CRUD</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content> 
        <p>El sistema de usuarios se basa en un CRUD que como su nombre lo indica permite crear, leer, modificar y borrar algun registro del sistema</p>
    </mat-card-content>
    <mat-card-actions>
    <button (click)="agregar()" mat-button mat-raised-button class="bg-primary">
        <mat-icon>add</mat-icon>  
        <label class="p-3"> Crear</label>
    </button>
    </mat-card-actions>
</mat-card>

<div class="card">
    <app-datatable [dataTable]="usuarios"
                   [nameColums]="nameColumns"
                   [editable]="true"
                   [delete]="true"
                   (onModificar)="modificar($event)"
                   (onDelete)="eliminar($event)"
                   >
    </app-datatable>
</div>
