<div class="grid m-2">
    <div class="col md:col-6">
        <p-fieldset legend="Usuarios" [toggleable]="true">
        
            <p>Pagina de los Usuarios registrados en el sistema</p>
        </p-fieldset>

    </div>
    <div class="col md:col-6 ">
        <p-fieldset legend="Perfiles" [toggleable]="true">
        
            <p>Pagina de los Perfiles disponibles en el sistema </p>
        </p-fieldset>

    </div>
    <div class="col md:col-6 ">
        <p-fieldset legend="Mantenimiento Clientes" [toggleable]="true">
        
            <p> Pagina para dar el respectivo mantenimiento a clientes</p>
        </p-fieldset>

    </div>

</div>
